/* * {
    outline: 1px solid red;
} */

html {
    background-image: url("../images/mainimg.png");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.brand-logo {
    margin-left: auto;
    margin-right: auto;
}

.btn-flat {
    background-color: rgb(102, 212, 240);
}

/* body select.select_box */ 
body select { 
    display: inline-block; 
    padding: 10px 70px 10px 13px !important; 
    max-width: 100%; 
    height: auto !important; 
    border: 1px solid #e3e3e3; 
    border-radius: 3px; 
    background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat; background-color: #fff; 
    color: #444444; 
    font-size: 12px; 
    line-height: 16px !important; 
    appearance: none; /* this is must */ 
    -webkit-appearance: none; 
    -moz-appearance: none; } /* body select.select_box option */ 

.custom-select {
    display: inline-block;
}

body select option { 
    padding: 0 4px;
} 

#googlemapdiv {
    height: 100%;
}
#googlemapdiv {
    position: relative;
    padding-bottom: 50%; // This is the aspect ratio */
  
    /* overflow: hidden;*/
}
#googlemapdiv iframe {
    position: absolute;
 
    width: 100% !important;
    height: 100% !important;
    float: right;
}


 
 
.image-fs  {
     
    float: left;
    width: 100% !important;
    height: 100% !important;
}

#main-page-buttons {
    margin-top: 25px;
    margin-bottom: 30px;
     
}
#images-wrapper {
 width: 100%;
}