/* * {
    outline: 1px solid red;
} */


html {
    background-image: url("../images/pexels-photo-452739.jpg");
}
.main-page-buttons {
    padding: 50px;
    padding-top: 200px;
    font-weight: 500;
    
}
a {
    color:white;
}